<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <!--Benzir Ahmed-->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-7">
          <div class="jumbotron">
              <h1>Tournament Fix!</h1>
              <p>Take charge and get your fix!</p>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


